@mixin up($name) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    $width: calc-width($min);

    @media screen and (min-width: $width) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin down($name) {
  $max: breakpoint-max($name, $breakpoints);

  @if $max {
    $width: calc-width($max);

    @media screen and (max-width: $width) {
      @content;
    }
  } @else {
    @content;
  }
}


@mixin only($name) {
  @include up($name) {
    @include down($name) {
      @content;
    }
  }
}

@mixin between($lower, $upper) {
  @include up($lower) {
    @include down($upper) {
      @content;
    }
  }
}