// from   http://www.sitepoint.com/centering-with-sass/

@mixin centering($width: null, $height: null) {
  position: absolute;
  left: 50%;
  top: 50%;

  @if not $width and not $height {
    transform: translate(-50%, -50%);
  } @else if $width and $height {
    height: $height;
    margin: -($height / 2) #{0 0} -($width / 2);
    width: $width;
  } @else if not $height {
    margin-left: -($width / 2);
    transform: translateY(-50%);
    width: $width;
  } @else {
    height: $height;
    margin-top: -($height / 2);
    transform: translateX(-50%);
  }
}
