@mixin container-width($name) {
   $width: get-container-width($name);
   width: convert-to-em($width);
   max-width: 100%;
}

@mixin container($gap: 'no-gap') {
  @if trim($gap) == 'no-gap' {
    min-height: 1px;
    margin-left: auto;
    margin-right:  auto;
    transition: all 0.3s ease;
  } @else if trim($gap) == 'gap' {
      min-height: 1px;
      margin-left: auto;
      margin-right:  auto;
      transition: all 0.3s ease;
      padding-left: gap(2);
      padding-right: gap(2);
  } @else {
      @warn "#{$gap} is not correct! Set the 'gap' to include paddings.";
  }

  @for $i from 2 through $breakpoints-length {
    $key: nth($breakpoints-keys, $i);

    @include up($key) {
      @include container-width($key);
    }
  }
}