@mixin row($val: 'flex') {

  @if trim($val) == 'flex' {
    display: flex;
    flex-flow: row wrap;
  } @else if trim($val) == 'no-flex' {
    display: block;
    clear: fix;
  } @else {
    @warn "#{$val} is not correct! Set 'no-flex' to turn off flexbox.";
  }
}