mixin btn(caption, cls, type)
	- var className = (typeof cls === 'undefined') ? "default" : cls
	unless type
		button.btn(class="#{className}__btn",type="button")= caption
	else
		button.btn(class="#{className}__btn",type="#{type}")= caption




mixin btn-empt(blc, type)
	- var className = (typeof blc === 'undefined') ? "default" : blc
	unless type
		button.btn(class="#{className}__btn",type="button")= caption
	else
		button.btn(class="#{className}__btn",type="#{type}")= caption


