html,
body {
  size: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  height: 200px;
  background: rgba(black, 0.3);
}

.container {
  @include container(gap);
  background-color: lightblue;
  min-height: 700px;
}