//-  HEAD
include ../_pug/head

//- COMPONENTS
include ../components/header/header
include ../components/footer/footer

doctype html
html(lang="ru")
  +head()
  body
    block content
    script(src="js/main.js")
