@import 'modularscale';

$modularscale: (
  base: 16px,
  ratio: 1.5,
  400px: (
    base: 17px,
  ),
  900px: (
    base: 19px
  ),
  1200px: (
    base: 22px
  ),
);

body {
  @include ms-respond(font-size, 0);
  line-height: 1.5;
  background-color: pink;
}
