// NEXT
@function breakpoint-next($name, $breakpoints, $breakpoint-keys: map-keys($breakpoints)) {
  $n: index($breakpoint-keys, $name);

  @return if($n < length($breakpoint-keys), nth($breakpoint-keys, $n + 1), null);
}

// GET
@function get-breakpoint($key) {
  @if map-has-key($breakpoints, $key) {
    @return map-get($breakpoints, $key);
  }

  @warn "#{$key} is not a set breakpoint variable";
  @return null;
}

//  MIN
@function breakpoint-min($name, $breakpoints) {
  $min: map-get($breakpoints, $name);

  @return if($min != 0, $min, null);
}

//  MAX
@function breakpoint-max($name, $breakpoints) {
  $next: breakpoint-next($name, $breakpoints);

  @return if($next, breakpoint-min($next, $breakpoints) - 1, null);
}
