$font-root: 100% !default;
$font-base: 1rem;

$gutter: 30;

$grid-gutter-widths: (
  sm: 20,
  lg: 30
) !default;

$grid-columns-count: 12 !default;

$breakpoints: (
  xs: 0,
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200
) !default;

$breakpoints-length: length($breakpoints) !default;
$breakpoints-keys: map-keys($breakpoints) !default;

$container-widths: (
  xs: 0,
  sm: 540,
  md: 720,
  lg: 960,
  xl: 1140
) !default;

