extends templates/layout

block head
  - var pageTitle = 'Главная';

block content
    #images
    p.
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptate iste nam illo nesciunt voluptatum natus porro, perspiciatis neque sequi beatae eius. Ducimus sunt, eos alias quo doloribus minima sit.
